body{
	margin: 0;
	padding: 0;

	background: -webkit-linear-gradient(bottom left,#51135a,#03f276); /*Safari 5.1-6*/

	font-family: 'Roboto', sans-serif;
	color:#fff;
}
a:hover,
a:focus,
a:active,
input:hover,
input:focus,
input:active,
button:hover,
button:focus,
button:active,
textarea:focus {
	text-decoration: none;
	outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}
button,
label:hover{
	cursor: pointer;
}
.header, .footer{
	text-align: center;
	width: 100%;
	height: 5vh;
}
.section{
	display: table; 
	width: 100%;
	height: 90vh;
	text-align: center;
	vertical-align: middle;
}
.section-title{
	padding: 10px;
}
#blink {
	position: absolute;
	top: 45%;
	left: 35%;
  animation: blink 1s linear infinite;
}
@keyframes blink {
  100% { color: rgba(34, 34, 34, 0); }
}

/*Зона где идет анимация*/
.box{ 
	margin: 10px;
	display: inline-block;
	width: 300px;
	height: 300px;
	border: 2px solid #fff;
	position: relative;
}
/*Бокс-анимация*/
.box-animated{
	top: 0px;
	left: 0px;
	position: absolute;
	width: 30px;
	height: 30px;
	background-color: #F57C00;
}

/*Стрелки кнопки*/
.arrow{
	text-align: center;
}
.btn{
	box-sizing: border-box;
	padding: 10px;
	margin: 5px;
	width: 50px;
	height: 50px;
	border: none;
	border-radius: 3px;
	cursor: move
}
/*.btn:hover{
	background-color: #fff;	
}*/
.down_key{
	background-color: #fff;	
	border: 1px solid grey;
}
.btn:active{
	border: 1px solid grey;
}